html,
body {
    scroll-behavior: smooth;
    color: #f2f2f2;
    margin: 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.25;
    font-family: 'Raleway',
        'Calibri',
        Arial,
        sans-serif;
    border: none;
}

/* Add a black background color to the top navigation */
.section-nav {
    background-color: rgba(0, 0, 0, 0.79);
    border-color: rgba(0, 0, 0, 0.79);
    overflow: hidden;
    position: fixed;
    text-align: center;
    z-index: 200;
    width: 100%;
    top: 0;
    left: 0;
}

/* Style the links inside the navigation bar */
.section-nav a {
    display: inline-block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

/* Adds a hover effect to the links within the navbar */
.section-nav a:hover {
    background-color: #555;
}

/* Hide the link that should open and close the topnav on small screens */
.section-nav .icon {
    display: none;
}

.section-nav-wrapper {
    text-align: center;
    position: relative;
}

/* Index Page Title Section */
.index-title-section {
    background-image: url('../Img/index-title-image2.png');
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

/* Title Text for each section */
.title-section-text {
    font-family: 'Raleway';
    color: #f9f1e9;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.thin {
    font-weight: 200;
}

.index-section-1 {
    background-image: url('../Img/index-title-image.jpg');
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.index-content {
    width: 100%;
    height: 100%;
}

.fadeInDownBig {
    animation-delay: 1s;
    animation-duration: 3s;
}

.arrowscroller {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    align-content: center;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    font-size: 75px;
    text-align: center;
    z-index: 10;
}

.arrowscroller i {
    align-self: center;
    width: 100%;
    text-align: center;
    color: white;
}